<ion-content>
  <div class="background"></div>
  <div class="profil-pic"></div>
  <div class="profil-infos">
    <div class="buttons">
      <ion-icon class="button button-message" name="mail-outline"></ion-icon>
      <p class="button button-follow">Follow</p>
    </div>
    <div class="usernames">
      <h1 class="title">flutter</h1>
      <p class="subtitle">@FlutterDev</p>
    </div>
    <div class="description">
      Google’s UI toolkit to build apps for mobile web & desktop from a single codebase // Join the
      #FlutterPuzzleHack Challenge -> goo.gle/FlutterHack
    </div>
    <div class="follow">
      <div class="following">
        <span>38</span> Following
      </div>
      <div class="followers">
        <span>176</span> Followers
      </div>
    </div>
    
    
      
    </div>

    <div class="content">
      <ion-header>
        <!-- Segment with anchors -->
        <ion-segment (ionChange)="segmentChanged($event)" value="Poste" color="main">
          <ion-segment-button value="Poste">
            <ion-label>Poste</ion-label>
          </ion-segment-button>
          <ion-segment-button value="Réponse">
            <ion-label>Réponse</ion-label>
          </ion-segment-button>
          <ion-segment-button value="Photos">
            <ion-label>Photos</ion-label>
          </ion-segment-button>
          <ion-segment-button value="Likes">
            <ion-label>Likes</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-header>
      <div class="content-post">
        
        <div class="post">
          <div style="display: none;" class="post-imgs">
            <img src=""/>
          </div>
          
          <div class="post-text">
            <div class="post-user-infos">
              <ion-avatar style="background-color:black;"></ion-avatar>
              <div>
                <p class="username">Les joies du code</p>
                <p class="pseudo">@lesjoiesducode</p>
              </div>
            </div>
            <div class="post-content">
              <p class="text">Logoden biniou degemer mat an penn ar bed Arzhal, dimeurzh un gwez seizhvet diskiant labourat eus lies sec’hañ, goulou liorzh ezel pell kalonek dek livet. Soudard ennomp a izel ha ger pegen disheol moereb, mañ An Alre koulz kerzu e kibellañ sellout baradoz fazi, beajour skouer kempenn e chadenn rodell c’hoar.<p>
              </div>
              <div class="interact">
                <div>
                  <div class="button fav">
                    <ion-icon name="star-outline"></ion-icon>
                    <p>1121</p>
                  </div>
                  
                  <div class="button repost">
                    <ion-icon name="repeat-outline"></ion-icon>
                    <p>1121</p>
                  </div>
                  
                  <div class="button answer" (click)="this.services.openSheetModal()">
                    <ion-icon name="chatbubble-outline"></ion-icon>
                    <p>1121</p>
                  </div>
                </div>
                
                <div class="settings">
                  <ion-icon name="ellipsis-vertical"></ion-icon>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    
  </ion-content>
  