<ion-content>
  <div class="content">
    <div class="background"></div>
    <div class="profil-pic">
      <ion-avatar style="background-color:black;"> 
        <img src="{{this.user.avatar}}"/>
      </ion-avatar>
    </div>
    <div class="profil-infos">
      <div class="buttons">
        <ion-icon class="button button-message" name="mail-outline"></ion-icon>
        <p class="button button-follow">Follow</p>
      </div>
      <div *ngIf="this.user" class="usernames">
        <h1 class="title">{{ this.user.username }}</h1>
        <h1 class="subtitle">@{{ this.user.username }}</h1>
        <h1 class="subtitle">{{ this.user.firstname }}</h1>
        <h1 class="subtitle">{{ this.user.lastname }}</h1>
        <h1 class="subtitle">{{ this.user.email }}</h1>
      </div>
      <div class="description">
        <p>{{ this.user.bio }}</p>
      </div>
    </div>
  </div>
  
  
  
</ion-content>
