@font-face {
    font-family: "NunitoSans";
    src: local("NunitoSans"),
        url(~assets/fonts/NunitoSans-Regular.ttf) format("truetype");
}

html {
    font-family: "NunitoSans";
}

.h-img {
    height: 3rem;
}

.rounded-card {
    border-radius: 1rem !important;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}

.center-component {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom-1\/6 {
    bottom: calc(100% / 6);
}