<ion-tabs color="main">

  <ion-tab-bar slot="bottom" color="main">
    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="feed">
      <!-- <ion-badge color="light">11</ion-badge> -->
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profil">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button (click)="logout()">
      <ion-icon name="mail-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
