<ion-content class="slide-in-bottom">
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="dismiss()" fill="clear" color="light">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
      
      <ion-button *ngIf="typeOfPost == 'post'" class="btn-post" (click)="addPost()">
        Poster
      </ion-button>
      <ion-button *ngIf="typeOfPost == 'comment'" class="btn-post" (click)="addPostComment()">
        Poster
      </ion-button>
    </ion-buttons>
    
    
  </ion-toolbar>
  
  <form [formGroup]="formPost">
    <div class="write-message">
      <ion-avatar style="background-color:black;"></ion-avatar>
      

      <textarea formControlName="postContent" placeholder="Qui y a-t-il ?"></textarea>


    </div>
  </form>
  <div class="bottom">
    <div class="btn-camera">
      <ion-icon name="camera-outline" slot="icon-only"></ion-icon>
    </div>
    <div class="btn-camera">
      <ion-icon name="camera-outline" slot="icon-only"></ion-icon>
    </div>
    <div class="btn-camera">
      <ion-icon name="camera-outline" slot="icon-only"></ion-icon>
    </div>
    <div class="btn-camera">
      <ion-icon name="camera-outline" slot="icon-only"></ion-icon>
    </div>
    <div class="btn-camera">
      <ion-icon name="camera-outline" slot="icon-only"></ion-icon>
    </div>
  </div>
</ion-content>
