<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="chevron-back" (click)="goToPost()"></ion-icon>
      post
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div class="content">
    <div class="post">
      <div class="post-text">
        <div class="post-user-infos">
          <ion-avatar style="background-color:black;">
            <img src="{{ this.postUser['avatar'] }}"/>
          </ion-avatar>
          <div>
            <p class="username">{{ this.postUser['name'] }}</p>
            <p class="pseudo">@{{ this.postUser['name'] }}</p>
          </div>
        </div>
        <div class="post-content">
          <p class="text">{{ this.post['content'] }}<p>
          </div>
          <div class="interact">
            <div>
              <div class="button fav">
                <ion-icon name="star-outline"></ion-icon>
                <p>{{ this.post['stars'] }}</p>
              </div>
              
              <div class="button repost">
                <ion-icon name="repeat-outline"></ion-icon>
                <p>{{ this.post['shares'] }}</p>
              </div>
              
              <div class="button answer" (click)="this.services.openSheetModal()">
                <ion-icon name="chatbubble-outline"></ion-icon>
                <p>{{ this.post['comments'] }}</p>
              </div>
            </div>
            
            <div class="settings">
              <ion-icon name="ellipsis-vertical"></ion-icon>
            </div>
          </div>
        </div>
      </div>
      
      
      <div *ngFor="let post of postComments" class="post" >
        <div class="post-text">
          <div class="post-user-infos">
            <ion-avatar style="background-color:black;">
              <img src="{{ post.user.avatar }}"/>
            </ion-avatar>
            <div>
              <p class="username">{{ post.user.name }}</p>
              <p class="pseudo">@{{ post.user.name }}</p>
            </div>
          </div>
          <div class="post-content">
            <p class="text">{{ post.content }}<p>
            </div>
            
          </div>
        </div>
        
        
        
        
      </div>
      
      
      
    </ion-content>
    
    