<ion-content>
  <div class="content">

      <div *ngFor="let post of posts" class="post" >
        <div class="post-text">
          <div class="post-user-infos">
            <!-- <div class="post-user-infos" (click)="goToPostComment(post.id)"> -->

            <ion-avatar style="background-color:black;" (click)="goToProfil(post.user.id)"> 
              <img src="{{post.user.avatar}}"/>
            </ion-avatar>
            <div>
              <p class="username">{{post.user.name}}</p>
              <p class="pseudo">{{post.user.name}}</p>
            </div>
          </div>
          <div class="post-content"  (click)="goToPostComment(post.id)">
            <p class="text">{{post.content}}<p>
            </div>
            <div class="interact">
              <div>
                <div *ngIf="post.stars == 1" class="button fav" (click)="addStar(post.id)">
                  <ion-icon name="star"></ion-icon>
                  <p>{{post.stars}}</p>
                </div>
                <div *ngIf="post.stars != 1" class="button fav" (click)="addStar(post.id)">
                  <ion-icon name="star-outline"></ion-icon>
                  <p>{{post.stars}}</p>
                </div>
                
                <div class="button repost" (click)="addShare(post.id)">
                  <ion-icon name="repeat-outline"></ion-icon>
                  <p>{{post.shares}}</p>
                </div>
                
                <div class="button answer" (click)="this.services.openSheetModal('post')">
                  <ion-icon name="chatbubble-outline"></ion-icon>
                  <p>{{post.comments}}</p>
                </div>
              </div>
              
              <div class="settings">
                <ion-icon name="ellipsis-vertical"></ion-icon>
              </div>
            </div>
          </div>
        </div>

    </div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="margin-bottom:10px;">
      <ion-fab-button color="main" (click)="this.services.openSheetModal('post')">
      <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
  