p{
    margin: 0;
    padding: 0;
}
.content{
    position: absolute;
    top: 0;
    background-color: #F7F3FE;
}
.post{
    background-color: white;
    margin: 2%;
    border-radius: 5px;
    width: 96%;
}

.post-text{
    display: flex;
    flex-direction: column;
    padding: 3%;
}

.post-user-infos{
    display: flex;
    // flex-direction: column;
    
    ion-avatar{
        margin: 2%;
    }
    
    div{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

.post-content{
    display: flex;
}

.interact{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    div{
        display: flex;
    }
    .button{
        margin-right: 20%;
    }
}

.username{
    font-weight: bold;
    font-size: 1.15rem;
}
.pseudo{
    color: grey;
}
.post-content{
    padding: 3% 0;
}
.button{
    ion-icon{
        color: #6563FF;
        font-size: 1.5rem;
        margin: 1%;
    }
    p{
        margin: auto;
        padding: auto;
    }
}