.bg-nav {
    background-color: #7e48e8;
}

.svg-purple {
    color: #7e48e8;
}

.svg-dark-purple {
    color: #2A194D;
}

#app {
    background-color: #F7F3FE;
    height: 100vh;
}

.h-img {
    height: 3rem;
}

.rounded-card {
    border-radius: 1rem !important;
}

.btn-dark-purple {
    background-color: #2A194D !important;
    color: #fff !important;
}